# .gitignore
node_modules/
dist/
build/
*.log

# Python
__pycache__/
*.pyc
venv/
.venv/

# Env
.env
.env.local
*.env

# OS
.DS_Store

# Docker
*.pid

# ML artifacts (large files, don't commit)
services/ml-service/app/artifacts/*.pkl
services/ml-service/app/artifacts/*.joblib

# IDE
.vscode/
.idea/


# root .gitignore
.env
node_modules/
dist/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
.venv/
services/ml-service/app/artifacts/*.pkl
services/ml-service/app/artifacts/*.joblib
